.pageTitle {
  height: 5%;
  font-size: 25px;
  padding: 5px;
}
.serachForm {
  height: 5%;
}
.serachForm form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.serachForm form input {
  margin: 5px;
  padding: 5px;
}
.userInfoContainer {
  height: 90%;
}
