.pageTitle {
  height: 5%;
  font-size: 25px;
  padding: 5px;
}
.searchHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
}
.record {
  display: flex;
  flex-direction: row;
}
.recordsContent {
  width: 180px;
  padding: 10px;
}
