.NavBar {
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  background-color: burlywood;
  margin: 0;
  padding: 5px;
  border: 1px solid black;
}

.NavBar div {
  padding: 5px;
  font-size: large;
}

.MainContent {
  height: 95%;
  border: 1px solid black;
}

@media only screen and (max-width: 400px) {
  .NavBar {
    padding: unset;
  }
  .MainContent {
    border: none;
  }
}
